<!DOCTYPE html>
<html>
<head>
  <title>NiteOut</title>
  <!-- CSS and fonts -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/icecream-grid.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
  <!-- Google maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
</head>
<body ng-app="nite-out">
  <div id="background">
    <div id="status">
      <span id="title">NiteOut</span>
      <span id="login" ng-controller="AuthController">
        <needlogin ng-if="!loginStatus"></needlogin>
        <loggedin ng-if="!!loginStatus"></loggedin>
        <modal-dialog show="loginShown" action="getLoginData(userInfo)" template-url="app/auth/loginPage.html"></modal-dialog>
        <modal-dialog show="signupShown" action="postSignupData(userInfo)" template-url="app/auth/signupPage.html"></modal-dialog>
      </span>
    </div>
    <div id="bigContainer">
      <div id="cart" ng-controller="cartController">
        <cart></cart>
      </div>
      <div id="bigMain" ui-view></div>
    </div>
  </div>
  <!-- Client-side requirements -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <!-- Angular modules -->
  <script src="app/auth/auth.js"></script>
  <script src="app/auth/services.js"></script>
  <script src="app/checkout/checkout.js"></script>
  <script src="app/checkout/marketTestingPage.js"></script>
  <script src="app/map/map.js"></script>
  <script src="app/map/services.js"></script>
  <script src="app/events/events.js"></script>
  <script src="app/events/services.js"></script>
  <script src="app/restaurants/restaurants.js"></script>
  <script src="app/restaurants/services.js"></script>
  <script src="app/movies/movies.js"></script>
  <script src="app/movies/services.js"></script>
  <script src="app/movies/showtimes.js"></script>
  <script src="app/cart/cart.js"></script>
  <script src="app/cart/mycart.js"></script>
  <script src="app/main/main.js"></script>
  <script src="app/main/services.js"></script>
  <script src="app/app.js"></script>
</body>
</html>
