html, body {
  background-color: #131629;
  color: #B8B8B8;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

input, select {
  font-family: inherit;
}

h1, h2, h3 {
  color: #B8B8B8;
  text-align: center;
}

#background {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

#background:after {
  background-image: url(../assets/splash/splash_01.jpg);
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.175;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#status {
  background-color: rgba(49, 55, 69, 0.75);
  display: block;
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#title {
  display: inline-block;
  font-size: 3.75em;
  font-weight: bold;
  margin-left: 0.5em;
  z-index: 3;
}

#login {
  display: inline-block;
  float: right;
  margin-right: 1.75em;
  margin-top: 1.75em;
  z-index: 3;
}

#bigContainer {
  display: block;
  padding-top: 5em;
}

#cart {
  display: inline-block;
  height: 100%;
  padding-top: 1em;
  position: relative;
  width: 33%;
  z-index: 2;
}

.edit-button, .checkout-button {
  border: 1px solid #B8B8B8;
  color: #B8B8B8;
  font-size: 0.75em;
  margin-left: 0.25em;
  padding: 5px;
  text-decoration: none;
}

.edit-button:hover, .checkout-button:hover {
  color: #D73117;
  cursor: pointer;
}

.cart-item {
  margin: 1px;
}

.market {
  color: #D73117;
  font-size: 1.5em;
}

.checkout {
  font-size: 20px;
  margin-bottom: 0.5em;
}

#bigMain {
  border-left: dashed #B8B8B8 2px;
  display: inline-block;
  height: 100%;
  padding-left: 3.5%;
  padding-top: 2em;
  position: absolute;
  width: 60%;
  z-index: 2;
}

.home-button {
  border: 1px solid #B8B8B8;
  color: #B8B8B8;
  font-size: 0.75em;
  margin-left: 0.25em;
  padding: 5px;
  text-decoration: none;
}

.home-button:hover {
  color: #D73117;
  cursor: pointer;
}

.ng-modal-overlay {
  background-color: #131629;
  height: 100%;
  left: 0px;
  opacity: 0.75;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.ng-modal-dialog {
  background-color: #313745;
  box-shadow: 4px 4px 80px #131629;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 100;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.ng-modal-dialog-content {
  color: #B8B8B8;
  padding: 10px;
  text-align: center;
}

.ng-modal-dialog-content input {
  margin-bottom: 1em;
  margin-top: 0.25em;
  width: 50%;
}

.ng-modal-close {
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  right: 5px;
  top: 3px;
}

.ng-modal-close:hover {
  color: #D73117;
}

.search-bar {
  position: relative;
  width: 100%;
}

.search-box {
  font-size: 1em;
  margin-left: 20%;
  width: 40%;
}

.select-box {
  background: transparent;
  border: none;
  color: #EDEDED;
  cursor: pointer;
  font-size: 1em;
  width: 20%;
}

#google-map div {
  border-style: none;
  margin-bottom: 1.5em;
}

.angular-google-map-container {
  height: 400px;
  width: 600px;
}

.event {
  padding: 5px;
  color: #B8B8B8;
  margin: 5px;
}

.event:hover {
  background-color: rgba(49, 55, 69, 0.75);
  cursor: pointer;
}

.title {
  font-size: 1.2em;
  color: #D73117;
}

.time, .phone {
  color: #B8B8B8;
}

.logo {
  position: relative;
  float: right;
  top: 0px;
  height: 25px;
}

.deleteLogo {
  position: relative;
  float: right;
  top: 0px;
}

.address {
  color: #D73117;
}

.modal-iframe {
  width: 95%;
  height: 400px;
}

.holder {
  width: 80%;
}

.showtime:hover {
  color: #D73117;
  cursor: pointer;
}
